.navbar-brand {
    font-style: normal;
    color:white;
}

.navbar-brand img {
    /*height: 10%;
    margin-top: -50px;*/
   
}

.mycert cert {
    
    width:100%;
    height:100%;
    margin-top:-0px;
    margin-left:-10px;
    margin-bottom:0px;
    margin-right:-10px;
    margin:auto;
    border:solid 4px red;
    margin-top:49px;
}
